JWT_SECRET="YOUR_RANDOM_SECRET_KEY"
STRIPE_SECRET_KEY="YOUR_STRIPE_SECRET_KEY"
VNPAY_TMN_CODE="YOUR_VNPAY_TMN_CODE"
VNPAY_SECURE_SECRET="YOUR_VNPAY_SECURE_SECRET"
VNPAY_HOST="https://sandbox.vnpayment.vn"
VNPAY_TEST_MODE="true"
FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:4000"