.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e ;
}

.navbar.navbar-no-underline .navbar-menu .active {
    border-bottom: none;
}

.navbar li {
    cursor: pointer;
}

.search-container {
    position: relative; 
    display: flex;
    align-items: center;
    background-color: #f0f0f0; 
    border-radius: 25px;
    padding: 8px 12px;
    transition: background-color 0.3s;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 0;
    padding: 0;
    transition: width 0.4s ease-in-out;
    font-size: 16px;
    color: #49557e;
}

.search-input::placeholder {
    color: #9a9a9a;
}

.search-input.active {
    width: 200px;
    padding-right: 10px; 
}

.search-icon {
    width: 20px;
    cursor: pointer;
}


.suggestions-list {
  position: absolute;
  top: 45px; 
  left: 0;
  width: 100%;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  border: 1px solid #eee;
  border-top: 1px solid #eee;
}

.suggestions-list li {
  display: flex;
  align-items: center;
  padding: 12px 15px; 
  cursor: pointer;
  transition: background-color 0.2s; 
}

.suggestions-list li:hover,
.suggestions-list li.active {
  background-color: #f0f0f0; 
}

.suggestions-list li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.suggestions-list li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.suggestions-list img {
  width: 45px; 
  height: 45px;
  margin-right: 15px; 
  object-fit: cover;
  border-radius: 5px;
}

.suggestions-list span {
    color: #333;
    font-size: 15px;
}

.no-suggestions {
    padding: 12px 15px;
    color: #888;
    text-align: center;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile {
    position: relative;
    cursor: pointer;
}

.navbar-profile img {
    width: 25px;
    transition: transform 0.3s ease;
}

.navbar-profile-dropdown {
    position: absolute;
    display: none; 
    right: 0;
    top: 40px;
    z-index: 100;
    background-color: #fff2f0;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid tomato;
    list-style: none;
    width: max-content;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    animation: dropdownFade 0.3s ease;
}

.navbar-profile:hover .navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.navbar-profile-dropdown li img {
    width: 20px;
}

.navbar-profile-dropdown li p {
    font-size: 14px;
    color: #49557e;
    margin: 0;
}

.navbar-profile-dropdown li:hover p {
    color: tomato;
    text-shadow: 0.5px 0 0 tomato, -0.5px 0 0 tomato;
}

.navbar-profile-dropdown hr {
    border: none;
    height: 1px;
    background-color: #d1d1d1;
    margin: 5px 0;
}

@keyframes dropdownFade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-profile::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -20px;
    left: 0;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }

    .search-input.active {
        width: 150px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}
